{% extends 'base.html' %}

{% block title %}Profile - Edit{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card w-50 mx-auto">
        <div class="card-header d-flex justify-content-center align-items-center">
            <h2>Modifier mon Profil</h2>
        </div>

        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex flex-column gap-3">
                    <button class="btn btn-primary" type="submit">Sauvegarder</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}