{% extends 'base.html' %}

{% block title %}Récupération mot de passe{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card w-25 mx-auto">
        <div class="card-header d-flex justify-content-center align-items-center">
            <h2>Récupération de votre mot de passe</h2>
        </div>

        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex flex-column gap-3">
                    <button class="btn btn-primary" type="submit">Soumettre</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}