{% extends 'base.html' %}

{% block title %}Add posts{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card w-50 mx-auto">
        <div class="card-header d-flex justify-content-center align-items-center">
            <h2>Téléverser plusieurs photos</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {{ formset.as_p }}
                {% csrf_token %}
                <button class="d-flex btn btn-primary" type="submit">Publier</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}